/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #40c057
- Tints:

#c6eccd
#ecf9ee
#ebfbee



- Shades: 
#3aad4e
#2d863d


- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
0 0 0.4rem rgba(0, 0, 0, 50%);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #40c057; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(34, 230, 93, 0.5);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2-rows {
  grid-template-rows: repeat(2, 1fr);
}

.grid--2-rows-fatterbottom {
  grid-template-rows: 40fr 90fr;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #40c057;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.text-left {
  text-align: left !important;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf9ee;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #40c057;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #40c057;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #339a46;
}

/*
      SEARCH IT   
*/

.search-box {
  padding: 6px;
  border-radius: 40px;
  background-color: #40c057;
  display: flex;
}

.search-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.search-btn {
  display: inline-block;
  padding: 4px;
  background-color: #40c057;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
  color: #fff;
  line-height: 1;
  width: 0;

  transition: 0.4s;
}

.search-txt::placeholder {
  color: #ebfbee;
}

.search-box:hover > .search-txt {
  width: 24rem;
  padding: 0 1.2rem;
}

.search-box:hover > .search-btn {
  background-color: white;
  color: #40c057;
}

/*

      HERO SECTION

*/

.section-basicInfo {
  background-color: #ebfbee;
  padding: 4.8rem 0 9.6rem 0;

  height: 150vh;
}

.basicInfo {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 60fr 40fr;
  grid-template-rows: 20fr 32fr;
  gap: 6.4rem;
  align-items: center;

  text-align: center;

  /* height: 70vh; */
}

.basicInfo-gauge {
  background-color: #e5f8e8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 20fr 40fr; */
  row-gap: 2.4rem;
  padding: 2.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  align-items: center;
  justify-items: center;
}

.gaugeHeader {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: left;
  width: 100%;
}

.gauges {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  /* background-color: #333; */
  border: 2px solid #40c057;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
    gauge mave effect
*/
.mave {
  position: relative;
  border-radius: 50%;
  background-color: #79d389;
  width: 16rem;
  height: 16rem;
  overflow: hidden;
  border: 1px solid #ecf9ee;
}

.mave::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  width: 24rem;
  height: 24rem;

  background-color: rgb(229, 248, 232, 1);
  border-radius: 42%;
  /* background-color: #555; */
}

.mave::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  width: 26rem;
  height: 26rem;

  background-color: rgb(229, 248, 232, 0.2);
  border-radius: 42%;
  /* background-color: #555; */
}

.mave-1::before {
  transform: translate(-50%, -70%);
  animation: mave-1 5s linear infinite;
}

.mave-1::after {
  transform: translate(-50%, -70%);
  animation: mave-1 4s linear infinite;
}

.mave-2::before {
  transform: translate(-50%, -80%);
  animation: mave-2 6s linear infinite;
}

.mave-2::after {
  transform: translate(-50%, -80%);
  animation: mave-2 5s linear infinite;
}
.mave-3::before {
  transform: translate(-50%, -90%);
  animation: mave-3 7s linear infinite;
}

.mave-3::after {
  transform: translate(-50%, -90%);
  animation: mave-3 6s linear infinite;
}

.mave-4::before {
  transform: translate(-50%, -60%);
  animation: mave-4 8s linear infinite;
}
.mave-4::after {
  transform: translate(-50%, -60%);
  animation: mave-4 7s linear infinite;
}

/* 
.mave::after {
  content: "Nutrition1";
  position: absolute;
  top: 0;
  left: 50%;

  color: #40c057;
  font-size: 16px;

  transform: translate(-50%, 50%);
} */

@keyframes mave-1 {
  100% {
    transform: translate(-50%, -70%) rotate(360deg);
  }
}

@keyframes mave-2 {
  100% {
    transform: translate(-50%, -80%) rotate(360deg);
  }
}
@keyframes mave-3 {
  100% {
    transform: translate(-50%, -90%) rotate(360deg);
  }
}
@keyframes mave-4 {
  100% {
    transform: translate(-50%, -60%) rotate(360deg);
  }
}

/*
    health tips
*/

.health-tips {
  grid-column: 1 / 2;
  padding: 2.4rem;
  /* align-self: top; */
}

a {
  text-decoration: none;
}

input {
  display: none;
}

.health-tips {
  display: grid;
  align-self: start;
}

.health-tips-Header {
  width: 100%;
  text-align: left;
}

.health-tips-container {
  /* width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px; */
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  position: relative;
  height: 200px;
  width: 400px;
  margin-bottom: 20px;
  /* DEPTH ---------------------------*/
  perspective: 80rem;
  transform-style: preserve-3d;
}

.cards label {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card {
  position: relative;
  /* height: 100%; */
  /* width: 50%; */
  background-color: #ebfbee;
  border: 2px solid #40c057;
  border-radius: 10px;
  padding: 30px 35px;
}

.card .image {
  display: flex;
  justify-content: space-between;
}

.card .image img {
  border-radius: 9px;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 50%);
  margin-top: 5px;
  width: 86%;
  height: 220px;
  object-fit: cover;
}

.card .image .dots {
  text-align: center;
}

.dots div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.dots div:nth-child(1) {
  background-color: var(--current-color1);
}

.dots div:nth-child(2) {
  background-color: #5b85f9;
}

.dots div:nth-child(3) {
  background-color: #000;
}

.card .infos {
  display: block;
  text-align: end;
  padding-top: 1rem;
}

.infos span {
  display: block;
}

.infos .name {
  font-size: 30px;
  color: var(--current-color1);
  letter-spacing: 0.75px;
  margin-bottom: 2rem;
  padding-left: 25%;
  transition: all 0.6s ease;
}

.infos .lorem {
  font-size: 15.5px;
  color: #8cd99a;
  letter-spacing: 3px;
}

.card .btn-contact {
  width: 100%;
  height: 60px;
  /* margin: 35px auto; */
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
  transition: all 0.7s ease;
}

.card .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.socials i {
  font-size: 25px;
  transition: all 0.7s ease;
  color: var(--current-color2);
}

#s1:checked ~ .cards #slide4,
#s2:checked ~ .cards #slide5,
#s3:checked ~ .cards #slide1,
#s4:checked ~ .cards #slide2,
#s5:checked ~ .cards #slide3 {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #40c057;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide5,
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3,
#s5:checked ~ .cards #slide4 {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #40c057;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4,
#s5:checked ~ .cards #slide5 {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0);
  --current-color1: #40c057;
  --current-color2: #eceaed;
}

#s1:checked ~ .cards #slide2,
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide4,
#s4:checked ~ .cards #slide5,
#s5:checked ~ .cards #slide1 {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #40c057;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide3,
#s2:checked ~ .cards #slide4,
#s3:checked ~ .cards #slide5,
#s4:checked ~ .cards #slide1,
#s5:checked ~ .cards #slide2 {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #40c057;
  --current-color2: #404457;
}

/*
    meal-generator
*/

.meal_generator {
  grid-row: 1 / 3;
  grid-column: 2 / -1;
  padding: 2.4rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #e5f8e8;
  /* background-color: #fff; */
  height: 100%;
}
.generator {
  height: 100%;
}

.generator-header {
  width: 100%;
}

.eating-types {
  display: grid;
  list-style: none;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.eating-type {
  width: 100%;
  display: flex;
  border-radius: 11px;
  /* background-color: #5b85f9; */

  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.6rem;
  justify-content: space-between;
  justify-self: center;
}

.eating-type.type-selected {
  background-color: #c6eccd;
}

.eating-type a {
  text-decoration: none;
  padding-top: 1.2rem;

  /* display: block; */
  /* width: 100%; */
}

.eating-type p {
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 3.2rem;
  /* align-self: center; */
  font-size: 1.6rem;
  justify-self: center;
  color: #2d863d;
}

.eatingtype-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #40c057;
  text-align: center;
  margin-bottom: 1rem;
}
